<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body th:background="@{/img/bg.jpg}">

    <div class="wrapper">

        <div class="inner">
            <h1>Login</h1>
            <span th:text="${passwordHint}"></span>
            <form method="POST" action="/login" class="loginForm">
                <span th:text="#{login.name}"/>: <br>
                <input type="text" name="username"> <br>
                <span th:text="#{login.password}"/>: <br>
                <input type="password" name="password"> <br><br>
                <button type="submit">OK</button> <br>

                <a class="formLink" th:href="@{/benutzer/benutzerregistrierung}" th:text="#{login.register}"></a>
                <br>

                <a class="langSwitch" th:href="@{?lang=de}">🍺</a>
                <a class="langSwitch" th:href="@{?lang=en}">🍔</a>
            </form>

        </div>

    </div>

</body>
</html>
